{% extends "master.html" %}
<html>
{% block title %}
 login
{% endblock %}


{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">Login</h2>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-20">Login</button>
        </form>
        <p class="text-center mt-3">
            Don't have an account? <a href="{% url 'register' %}">Sign up here</a>.
        </p>
    </div>
{% endblock %}

