{% extends "master.html" %}
<html>
{% block title %}
  Register
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">Register</h2>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success w-20">Sign Up</button>
        </form>
        <p class="text-center mt-3">
            Already have an account? <a href="{% url 'login' %}">Login here</a>.
        </p>
    </div>
{% endblock %}


